body {
    background-color: rgba(252, 228, 236, 1);
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.wrapper {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1450px) {
    .wrapper {
        margin: 0 50px;
    }
}

.credits {
    position: absolute;
    color: rgb(252, 228, 236);
    font-size: .9rem;
}

.credits:hover {
    color: #000;
    display: block;
}

@media (max-width: 880px) {
    .credits {
        display: none;
    }
}

#back {
    font-size: .9rem;
    background-color: #acde57;
    text-decoration: none;
    background-color: rgba(52, 235,  216, .4);
    padding: 17px 30px;
    border-radius: 7px;
    margin: 0 0 0 20px;
    position: absolute;
    top: 10px;
    color: #000;
}

@media (max-width: 710px) {
    h1 {
        margin-bottom: 40px;
    }
    #back {
        position: sticky;
        float: top;
    }
}

.meme-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    justify-content: center;
    max-width: 100%;
}

.meme-container img {
    max-width: 100%;
}

.meme-a {

}

.meme-b {
    
}

.meme-c {
}

.meme-d {

}

.meme-e {
    
}

.empty {
    height: 30px;
}

.music {
    width: 300px;
    height: 100px;
    background-color: cyan;
    display: none;
}